<section class="how-it-works">

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <!-- <ion-card class="how-it-works-card">
          <ion-card-header>
            <ion-card-title>How It Works: Subscribe and Receive Your Surprise Box</ion-card-title>
            <ion-card-subtitle>
              Subscribe to our surprise subscription box and give your child the gift of learning. Each month, we curate a box filled with educational materials tailored to your child's age and interests.
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card> -->
        <div class="desc-section">
          <h6>Discover</h6>
          <h1>How It Works: Subscribe and Receive Your Surprise Box</h1>
          <p>Subscribe to our surprise subscription box and give your child the gift of learning. Each month, we curate a box filled with educational materials tailored to your child's age and interests.</p>

        </div>
      </ion-col>
    </ion-row>
  
    <ion-row class="steps">
      <ion-col size="12" size-md="4" class="step">
        <ion-img src="assets/subscribe.svg" name="mail-open-outline" class="step-icon"></ion-img>
        <h3>Step 1: <br>
          Subscribe</h3>
        <p>Select a subscription plan that suits your child's learning needs and preferences.</p>
      </ion-col>
      <ion-col size="12" size-md="4" class="step">
        <ion-img src="assets/setting.svg" name="options-outline" class="step-icon"></ion-img>
        <h3>Step 2: <br>
          Personalize Your Box</h3>
        <p>Tell us about your child's age, interests, and learning goals, and we'll customize their surprise box accordingly.</p>
      </ion-col>
      <ion-col size="12" size-md="4" class="step">
        <ion-img src="assets/Surprise_Point_3_.svg" name="gifts-outline" class="step-icon"></ion-img>

        <h3>Step 3: <br>
          Receive Your Surprise Box</h3>
        <p>Sit back and relax as your child eagerly awaits the arrival of their monthly surprise box filled with engaging learning materials.</p>
      </ion-col>
    </ion-row>
  
    <ion-row class="ion-justify-content-center">
      <ion-col size="12 ion-align-self-center">
        <ion-button shape="round" class="custom-button subscribe-btn">Subscribe Now</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>
