<ion-header>
  <ion-toolbar class="custom-bg">
    <ion-title>Logo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class=" center custom-bg custom-content">
  <div class="hero-section ">
    <h1>Discover the magic of our surprise box</h1>
    <p>Unleash your child’s curiosity with our educational subscription box filled with fun and learning.</p>
    <ion-button shape="round"  routerLink="/subscribe" class="custom-button">Subscribe Now</ion-button>
    <div class="images">
      <img src="assets/Placeholder.png" alt="Toys">
      <!-- <img src="assets/images/toys2.png" alt="Toys"> -->
    </div>
  </div>
  <app-how-it-works></app-how-it-works>
</ion-content>
<app-footer></app-footer>
